<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="resourceService" class="ru.otus.spring.service.impl.ResourceServiceImpl">
        <property name="fileName" value="Questions-Answers.csv"/>
    </bean>

    <bean id="answersOptionsService" class="ru.otus.spring.service.impl.AnswerOptionsServiceImpl">
    </bean>

    <bean id="questionService" class="ru.otus.spring.service.impl.QuestionServiceImpl">
    </bean>

    <bean id="printQuestionsAnswersServiceImpl" class="ru.otus.spring.service.impl.PrintQuestionsAnswersServiceImpl">
        <constructor-arg name="resourceService" ref="resourceService"/>
        <constructor-arg name="answersOptionsService" ref="answersOptionsService"/>
        <constructor-arg name="questionService" ref="questionService"/>
    </bean>

</beans>
